body {
<<<<<<< HEAD
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    color: #333;
}
.highlight {
    color: #2c3e50;
    font-weight: bold;
}
.main-nav {
=======
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 800px;
            margin: auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #333;
        }
        .highlight {
            color: #2c3e50;
            font-weight: bold;
        }
        .main-nav {
>>>>>>> 41f1e3e (feat: change design color)
    background-color: #740606;
    padding: 1rem;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #f4a261;
}

.contacts-section {
    padding: 40px 20px;
    background: #c3544c;
    border-radius: 8px;
    margin: 20px 0;
}
.contacts-section form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
<<<<<<< HEAD
}

=======
}
>>>>>>> 41f1e3e (feat: change design color)
